/**
 * Params
 */

$header_h: 115px;

// call it with
// padding( padding_times )
// Example: padding: padding(2); -> equal to -> padding: 16px; 
$padding: 8px;

// Call it with
// z-index: color( base );
$colors: (
	light: #fff,
	dark: #000,
);

$time: 0.2s;
$ease: cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Call it with
// z-index: z( header );
$zindex: (
	loader: 100,
	header: 20,
);

// Call it with
// @include break( medium ) { content... }
$breakpoints: (
	largeScreen : 1680px,
	desktop     : 1279px,
	medium 		: 1024px,
	tablet   	: 960px,
	mobile      : 640px,
	iphone 		: 320px,
);

// Call it with
// size(key)
$sizes: (
	header: 48px,
);