//-------------------------------
// TYPO FILES

@import './fontfaces';

html,
body {
	@include antialias();
}

::selection {
  background-color: color(dark); /* Required when declaring ::selection */
  color: color(light);
  text-shadow: none;
}
/*
.light {
	font-weight: 100;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 900;
}
*/

.h1 {
	@include fontBreak(
    $base: 75px 1.3,
    $maxScales: (
      tablet: 0.8 1.4 14px, // fontScale lineHeight minFontSize 
      mobile: 0.7 1.4 13px,
    ),
    $minScales: (
      largeScreen: 1 1.35 120px, // fontScale lineHeight maxFontSize 
    ))
}

// Font utils

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.downcase,
.lowercase {
  text-transform: lowercase!important;
}

.upcase,
.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}
