html, body {
	font-family: 'Merriweather Sans', sans-serif;
	overflow: hidden;
}


.scene-nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: inline-block;
  text-decoration: none;
  color: #f5f5f5;
}

.scene-nav--next {
  right: 2%;
}

.scene-nav--prev {
  left: 2%;
}