<!DOCTYPE html>
<html>
  <head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <%= csrf_meta_tags %>
    <%= display_meta_tags %>
    <%= render 'lib/favicons' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= render 'lib/google_analytics' %>
  
  </body>
</html>
